body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: Verdana;
  }

div {
  text-align: Center;
}

.dark-mode {
    background-color: black;
    color: white;
  }

.navbar {
  background-color: grey;
  padding: 5px 20px;
  margin: 0px 20px;
}

#aboutPage {
  background-color: lightblue;
  font-size: green;
  padding: 40px;
}


/* 5 CSS properties fulfilled: font-size, family, text-align, background-color, color, padding, margin */